# Environnements virtuels
venv/
.env
*.env

# Fichiers Python compilés
__pycache__/
*.py[cod]

# Fichiers temporaires
*.log
*.tmp
*.swp
.DS_Store

# Jupyter notebooks checkpoints
.ipynb_checkpoints/

# VSCode
.vscode/ 